<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ConferenceApp">
<head>
    <title>ConferenceApp</title>
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <base href="/" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
<<<<<<< HEAD
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-material/angular-material-mocks.js"></script>



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
=======
    <script src="~/lib/angular-material/angular-material.js"></script>    
>>>>>>> 96133d6a8adce55042f6e9f742a2bd4ccc5be8c6

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>
    <script src="~/ngapp/controllers/confeditcontroller.js"></script>

    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>
</head>
<body ng-controller="AccountController as account" ng-cloak>
    <div>
        <a href="/">Home</a> /
        <a href="/about">About</a>

        / <a href="/secret">Secret</a> /
        <a href="/login" ng-show="!account.isLoggedIn()">Login</a>
        <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
        <div ng-show="account.isLoggedIn()">
            [{{account.getUserName()}}]
        </div>
    </div>





    <div class="banner">
        <div class="bg-image">
            <div class="bg-overlay">
                @*SITE TITLE*@
                <div layout="row" layout-align="center">
                    <h1 id="site-title" class="title-color">Conference App</h1>

                </div>
                @*SITE DESCRIPTION*@
                <div layout="row" layout-align="center">
                    <h2 id="site-description">The Peoples web conference</h2>
                </div>
                @*EVENT INFORMATION*@
                <div class="event-info" layout="row" layout-align="center">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                        <li><i class="material-icons">location_on</i>Houston,Texas</li>
                        <li><i class="material-icons">today</i>13/08/2016</li>
                        <li> <i class="material-icons">mic</i>8 Speakers</li>
                    </ul>
                </div>
                <div>
                    <h1 class="detail" layout="row" layout-align="center">A month of inspiration and education on user experience.</h1>
                    <h2 layout="row" layout-align="center" class="des">On August 13th 2016 in Houston, Texas the technology industry is back with another carefully curated selection of talks.
                    <br />
                    8 Speakers will provide insight in to their work and offer ways to make us all better at what we do.</h2>
                </div>
            </div>

        </div>
    </div>





    <hr />



























    <ui-view></ui-view>

    <!-- Library Files -->


</body>
</html>
