<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ConferenceApp">
<head>
    <title>ConferenceApp</title>
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <base href="/" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-material/angular-material-mocks.js"></script>



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>
    <script src="~/ngapp/controllers/confeditcontroller.js"></script>

    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>
</head>
<body ng-controller="AccountController as account" ng-cloak>
    <div class="nav-bar">
        <a class="nav-text" href="/">Home</a> /
        <a class="nav-text" href ="/about">About</a>

        / <a class="nav-text" href="/secret">Secret</a> /
        <a class="nav-text" href="/login" ng-show="!account.isLoggedIn()">Login</a>
        <a class="nav-text" href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
        
        <div ng-show="account.isLoggedIn()">
            [{{account.getUserName()}}]
        </div>
    </div>











    <ui-view></ui-view>

    <!-- Library Files -->


</body>
</html>
