<h1>Conferences</h1>
<div layout="row" layout-align="space around center">
    <div>
    <md-card class="md-card">
        <img src="../../images/sauncebreezy.jpg" />
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Tech</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-raised md-primary">Edit</md-button>
            <md-button class="md-raised md-primary">Details</md-button>
        </md-card-actions>
    </md-card>
        </div>
    <div>
        <md-card class="md-card">
            <img src="../../images/sauncebreezy.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Tech</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center">
                <md-button class="md-raised md-primary">Edit</md-button>
                <md-button class="md-raised md-primary">Details</md-button>
            </md-card-actions>
        </md-card>

        </div>

        <div>
            <md-card class="md-card">
                <img src="../../images/sauncebreezy.jpg" />
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Tech</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <md-button class="md-raised md-primary">Edit</md-button>
                    <md-button class="md-raised md-primary">Details</md-button>
                </md-card-actions>
            </md-card>

        </div>
   </div>

<div layout="row" layout-align="space around center">
    <div>
        <md-card class="md-card">
            <img src="../../images/sauncebreezy.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Tech</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-raised md-primary">Edit</md-button>
                <md-button class="md-raised md-primary">Details</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div>
        <md-card class="md-card">
            <img src="../../images/sauncebreezy.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Tech</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center">
                <md-button class="md-raised md-primary">Edit</md-button>
                <md-button class="md-raised md-primary">Details</md-button>
            </md-card-actions>
        </md-card>

    </div>

    <div>
        <md-card class="md-card">
            <img src="../../images/sauncebreezy.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Tech</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center">
                <md-button class="md-raised md-primary">Edit</md-button>
                <md-button class="md-raised md-primary">Details</md-button>
            </md-card-actions>
        </md-card>

    </div>


</div>