<h1 class="reg-title flex-center">Conferences</h1>
<!--<div class="bg-image">
    <div class="bg-overlayII">-->
<div class="cards" layout="row" layout-align="start center" layout-wrap>


    <div flex-offset="10" flex="20" ng-repeat="conference in controller.conferences">
        <md-card class="md-card">

            <md-card-header>
                <md-card-header-text>
                    <span class="card-title md-title">{{conference.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <img class="md-card-image" src="{{conference.imageUrl}}" />
            </md-card-title>
            <md-card-content layout="column" layout-align="space-around center">
                <div class="card-subhead md-subhead">{{conference.city}}, {{conference.state}}</div>
                <div class="card-subhead md-subhead">{{conference.startDate | date:'MM/dd/yy'}} - {{conference.endDate | date:'MM/dd/yy'}}</div>

            </md-card-content>
            <md-card-actions layout="row" layout-align="space-around center">
                <md-button class="md-raised" style="background-color: #B71C1C; color: white;" ui-sref="confEdit({id:conference.id})">Edit</md-button>
                <md-button class="md-raised" style="background-color: #B71C1C; color: white;" ui-sref="schedule({id:conference.id})">Details</md-button>
            </md-card-actions>
        </md-card>
    </div>

    <div layout="row" layout-align="end center" layout-wrap>
        <div flex-offset="10" flex="35" ui-sref="confAdd">
            <md-card class="md-card">

                <md-card-header>
                    <md-card-header-text>
                        <span class="card-title md-title">Add Conference</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-actions layout-alight="center center">
                    <i class="material-icons md-48">add_circle_outline</i>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
