<h1 class="reg-title flex-center">Conferences</h1>
<div layout="row" layout-align="space around center">

    <div ng-repeat="conference in controller.conferences">
        <md-card class="md-card">
            <img src="{{conference.imageUrl}}" />
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{conference.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>

                <p>
                    <span class="md-subhead">{{conference.city}}, {{conference.state}}</span>
                </p>
                <p>
                    <span class="md-subhead">{{conference.startDate | date:'MM/dd/yy'}} - {{conference.endDate | date:'MM/dd/yy'}}</span>
                </p>

                <span class="md-subhead">{{conference.address}}</span>
                <span class="md-subhead">{{conference.startDate | date:'MM/dd/yy'}} - {{conference.endDate | date:'MM/dd/yy'}}</span>

            </md-card-content>
            <md-card-actions layout="row" layout-align="space-around center">
                <md-button class="md-raised md-primary" ui-sref="confEdit({id:conference.id})">Edit</md-button>
                <md-button class="md-raised md-primary">Details</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div ui-sref="confAdd">
        <md-card class="md-card">
            <i class="material-icons">add_circle_outline</i>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Add Conference</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
    </div>


    <!--<div>
        <md-card class="md-card">
            <img src="../../images/sauncebreezy.jpg" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Tech</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center">
                <md-button class="md-raised md-primary">Edit</md-button>
                <md-button class="md-raised md-primary">Details</md-button>
            </md-card-actions>
        </md-card>

    </div>-->


</div>

