<div layout="column" ng-cloak class="md-inline-form" ng-show="controller.addPage">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <md-input-container class="md-block">
                    <label>Conference Name</label>
                    <input ng-model="controller.name">
                </md-input-container>
                <div layout="row">
                    <md-datepicker ng-model="controller.startDate" md-placeholder="Start Date">
                    </md-datepicker>
                    <md-datepicker ng-model="controller.endDate" md-placeholder="End Date">
                    </md-datepicker>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Street</label>
                    <input ng-model="controller.street">
                </md-input-container>
                <div layout="row" class="md-block">
                    <md-input-container class="md-block">
                        <label>City</label>
                        <input ng-model="controller.city">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>State</label>
                        <input ng-model="controller.state">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Zip</label>
                        <input ng-model="controller.zip">
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Logo URL</label>
                    <input ng-model="controller.imageUrl">
                </md-input-container>
                <div layout="row">
                    <md-button ui-sref="conferenceManage({id:conference.id})" class="md-raised md-primary">
                        Cancel
                    </md-button>
                    <md-button ng-click="controller.EditConference()" class="md-raised md-primary">
                        Submit
                    </md-button>
                    <md-button ng-click="controller.DeleteConference()" class="md-raised md-primary">
                        Delete
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>


<div layout="column" ng-cloak class="md-inline-form" ng-show="controller.editPage">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <md-input-container class="md-block">
                    <label>Conference Name</label>
                    <input ng-model="controller.newConference.name">
                </md-input-container>
                <div layout="row">
                    <md-datepicker ng-model="controller.newConference.startDate" md-placeholder="Start Date">
                    </md-datepicker>
                    <md-datepicker ng-model="controller.newConference.endDate" md-placeholder="End Date">
                    </md-datepicker>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Street</label>
                    <input ng-model="controller.newConference.street">
                </md-input-container>
                <div layout="row" class="md-block">
                    <md-input-container class="md-block">
                        <label>City</label>
                        <input ng-model="controller.newConference.city">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>State</label>
                        <input ng-model="controller.newConference.state">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Zip</label>
                        <input ng-model="controller.newConference.zip">
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Logo URL</label>
                    <input ng-model="controller.newConference.imageUrl">
                </md-input-container>
                <div layout="row">
                    <md-button ui-sref="conferenceManage({id:conference.id})" class="md-raised md-primary">
                        Cancel
                    </md-button>
                    <md-button ng-click="controller.AddConference()" class="md-raised md-primary">
                        Submit
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>