<div class="bg-image" flex-grow="1" layout="row">
    <div class="bg-overlay" flex-grow="1" layout="column">
        <!--SITE TITLE-->
        <div layout="row" class="banner-conf-title" layout-align="center">
            <h1 id="site-title" class="title-color" ui-sref="conferenceManage">Symple Symposium</h1>

        </div>
        <!--SITE DESCRIPTION-->
        <div layout="row" layout-align="center">
            <h2 id="site-description">The Peoples web conference</h2>
        </div>
        <!--REGISTER BUTTON-->
        <div class="reg" layout="column" layout-align="center center">
            <md-button class="md-raised big-font title-color under reg-btn-home" ui-sref="register">Register</md-button>


        </div>
        <!--EVENT INFORMATION-->
        <div class="event-info" layout="row" layout-align="center">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" layout="row" layout-align="space-around">
                <li><i class="material-icons">content_paste</i> Learn brand new content</li>
                <li><i class="material-icons md-primary md-hue-2">people</i> Networking</li>
                <li><i class="material-icons">build</i> Collaberate with other developers</li>
            </ul>
        </div>
        <div>
            <h1 class="detail" layout="row" layout-align="center">A month of inspiration and education on user experience.</h1>
            <h2 layout="row" layout-align="center" class="des">
                The technology industry is back with another carefully curated selection of talks.
                <br />
                Many Speakers will provide insight in to their work and offer ways to make us all better at what we do.
            </h2>
        </div>
    </div>

</div>