<div class="banner">
    <div class="bg-image">
        <div class="bg-overlay">
            <!--SITE TITLE-->
            <div layout="row" layout-align="center">
                <h1 id="site-title" class="title-color" ui-sref="confManage">Conference App</h1>

            </div>
            <!--SITE DESCRIPTION-->
            <div layout="row" layout-align="center">
                <h2 id="site-description">The Peoples web conference</h2>
            </div>
            <!--EVENT INFORMATION-->
            <div class="event-info" layout="row" layout-align="center">
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                    <li><i class="material-icons">location_on</i>Houston,Texas</li>
                    <li><i class="material-icons">today</i>13/08/2016</li>
                    <li> <i class="material-icons">mic</i>8 Speakers</li>
                </ul>
            </div>
            <div>
                <h1 class="detail" layout="row" layout-align="center">A month of inspiration and education on user experience.</h1>
                <h2 layout="row" layout-align="center" class="des">
                    On August 13th 2016 in Houston, Texas the technology industry is back with another carefully curated selection of talks.
                    <br />
                    8 Speakers will provide insight in to their work and offer ways to make us all better at what we do.
                </h2>
            </div>
        </div>

    </div>
</div>





<hr />


