<!--<div class="log-back">
    <div class="log-over">-->
<div class="flex-center">
    <md-card class="card">
        <h1 class="reg-title" layout="row" layout-align="center"><i class="material-icons color">person</i></h1>
        <div layout="row" layout-align="center" class="reg-info">
            <ul>
                <li ng-repeat="externalLogin in account.externalLogins">
                    <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
                </li>
            </ul>

            <ul>
                <li ng-repeat="error in controller.validationMessages">
                    {{error}}
                </li>
            </ul>
            <form ng-submit="controller.login()">
                <div>
                    <md-input-container class="md-warn">
                        <label>Email</label>
                        <input type="text" ng-model="controller.loginUser.email">
                    </md-input-container>
                </div>
                <div class="pw">
                    <md-input-container class="md-warn">
                        <label>Password</label>
                        <input type="password" ng-model="controller.loginUser.password">
                    </md-input-container>
                </div>
                <md-button class="md-raised" input type="submit" value="Let's do this!"> Let's do this! </md-button>
                <div class="reg">
                    <h4>Don't have an account?</h4>
                    <a class="reg-btn red" href="/register">Register</a>
                </div>
            </form>
        </div>
    </md-card>
</div>
<!--</div>
</div>-->
