<div ng-cloak>
    <div class="add-button-top"  layout="row" layout-align="center">
        <md-button ui-sref="presentationAdd({id:controller.$stateParams['id']})" class="md-fab  md-accent md-hue-2" layout="flex">
            <md-tooltip md-direction="top">Add</md-tooltip>
            <md-icon>add_circle</md-icon>
        </md-button>
    </div>
    <div class="cards " layout="row" layout-align="space-around center" layout-wrap>
        <div ng-repeat="present in controller.presentation">
            <md-card class="md-card-pres" layout="column" layout-align="start center">
                <md-card-header class="header-pres" layout layout-align="center center">
                    <md-card-header-text>
                        <span class="card-title md-title">{{present.title}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column" layout-align="start center">
                    <div class="card-subhead-pres md-subhead">{{present.description}}</div>
                </md-card-content>
                <div flex></div>
                <md-card-actions class="actions-pres" layout="row" layout-align="center end">
                    <md-button ui-sref="presentationEdit({id:present.id})" class="md-fab md-warn" layout="flex">
                        <md-tooltip md-direction="right">Edit</md-tooltip>
                        <md-icon>edit</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
        </div>
