<div ng-cloak>
    <div class="cards bg-image-display" layout="row" layout-align="start center" layout-wrap>
        <div flex="20" flex-offset="4" ng-repeat="present in controller.presentation">
            <md-card class="md-card-pres">
                <md-card-header>
                    <md-card-header-text>
                        <span class="card-title md-title">{{present.title}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column" layout-align="space-around center">
                    <div class="card-subhead-pres md-subhead">{{present.description}}</div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="center end">
                    <md-button ui-sref="presentationEdit({id:present.id})" class="md-fab md-{{controller.themeEdit}} md-warn" layout="flex">
                        <md-tooltip md-direction="right">Edit</md-tooltip>
                        <md-icon>edit</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex="20" flex-offset="4">
            <md-card class="md-card-pres">
                <md-card-header>
                    <md-card-header-text>
                        <span class="card-title md-title">Add Presentation</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-actions layout="column" layout-align="end center">
                    <md-button ui-sref="presentationAdd({id:controller.$stateParams['id']})" class="md-fab md-{{controller.themeAdd}} md-accent md-hue-2" layout="flex">
                        <md-icon>add_circle</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>








<!--<md-button ng-click="controller.DeletePresentation(present.id)" class="md-raised md-primary">
            Delete
        </md-button>
<md-button ui-sref="schedule({id:controller.$stateParams['id']})" class="md-raised md-primary">
    Back
</md-button>-->
