<div layout="row" layout-align="start start">
    <md-button ui-sref="schedule({id:controller.$stateParams['id']})" class="md-raised md-primary">
        Back
    </md-button>
    <md-button ui-sref="roomAdd({id:controller.$stateParams['id']})" class="md-raised md-primary">
        <i class="fa fa-plus" aria-hidden="true">Add</i>
    </md-button>
</div>
<div layout="column" layout-align="start start">

    <table>
        <tr>
            <th>
                Room Name
            </th>
        </tr>
        <tr ng-repeat="room in controller.rooms">
            <td>
                {{room.name}}
            </td>
            <td>
                <md-button ui-sref="roomEdit({id:room.id})" class="md-raised md-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i>
                </md-button>
            </td>
            <!--<td>
                <md-button ng-click="controller.DeleteRoom(room.id)" class="md-raised md-primary">
                    Delete
                </md-button>
            </td>-->
        </tr>
    </table>
</div>


