
    <div class="cards bg-image-display" layout="column" layout-align="center center" flex ng-cloak>
        <md-card class="md-card-room animated bounceInLeft">
            <md-toolbar class="md-{{controller.theme}}">
                <div class="md-toolbar-tools">
                    <md-icon>{{controller.icon}}</md-icon>
                    <span flex style="margin-left:10px;">{{controller.title}}</span>
                </div>
            </md-toolbar>
            <md-content layout-padding layout="column" ng-cloak class="md-inline-form">
                <form name="userForm" ng-submit="controller.UpdateRoom()">
                    <md-input-container class="md-block" flex>
                        <label>Room</label>
                        <input ng-model="controller.room.name">
                    </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Description:</label>
                    <input ng-model="controller.room.description">
                </md-input-container>
                <div layout="row" layout-align="center">
                    <md-button ng-click="controller.cancel()" class="md-fab md-{{controller.themeCan}}">
                        <md-tooltip md-direction="top">Cancel</md-tooltip>
                        <md-icon>clear</md-icon>
                    </md-button>
                    <md-button ng-click="controller.DeleteRoom(room.id)" ng-show="controller.showDelete" class="md-fab md-{{controller.themeDel}} md-warn">
                        <md-tooltip md-direction="top">Delete</md-tooltip>
                        <md-icon>delete</md-icon>
                    </md-button>
                    <md-button class="md-fab md-{{controller.themeSub}} md-accent md-hue-2" type="submit">
                        <md-tooltip md-direction="top">Submit</md-tooltip>
                        <md-icon>done</md-icon>
                    </md-button>
                </div>
            </form>
        </md-content>
    </md-card>
</div>


