<div class="flex-center">
    <md-card class="card">
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content layout-padding>
                <div>
                    <form name="userForm">
                        <md-input-container>
                            <label>Speaker</label>
                            <md-select ng-model="controller.speakerId">
                                <md-option ng-repeat="speaker in controller.speakers" value="{{speaker.Id}}">
                                    {{speaker.firstName}} {{speaker.lastName}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Select Presentation</label>
                            <input ng-model="controller.conference.name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Select Room</label>
                            <input ng-model="controller.conference.name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Start Time</label>
                            <input ng-model="controller.conference.name">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>End Time</label>
                            <input ng-model="controller.conference.name">
                        </md-input-container>
                        <div layout="row">
                            <md-button ui-sref="conferenceManage({id:conference.id})" class="md-raised md-primary">
                                Cancel
                            </md-button>
                            <md-button ng-click="controller.DeleteConference()" ng-show="controller.showDelete" class="md-raised md-primary">
                                Delete
                            </md-button>
                            <md-button ng-click="controller.SubmitConference()" class="md-raised md-primary">
                                Submit
                            </md-button>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </md-card>
</div>
